cocos2d

proj.ios_mac/LHCocosFirstGame.xcodeproj/project.xcworkspace
proj.ios_mac/LHCocosFirstGame.xcodeproj/xcuserdata

proj.android/obj/local/armeabi/objs-debug

proj.android/gen

proj.android/bin
proj.android/assets

proj.android/obj
